In [1]:
import pandas as pd 
import numpy as np
## se define un objeto del tipo dataframe 
df = pd.DataFrame()
## se cargan los datos mediante la función read_excel, al ser un archivo xlsx, mediante el parametro usecols  
## se definen las columnsas a utilizar
df = pd.read_excel('./data/Datos Maestros VF.xlsx',sheet_name = 'Master Data Oficial',
                   usecols=['AGENTE (OFEI)','CENTRAL (dDEC, dSEGDES, dPRU…)',
                            'Tipo de central (Hidro, Termo, Filo, Menor)']) 
## cambiamos el nombre de las columnas para facilitar manipulación 
df=df.set_axis(['Agente','Central','Tipo'],axis='columns')
df

                  Agente       Central Tipo
0    ENERGIA RIO PIEDRAS      MAGUAFRE    M
1         PCH ALEJANDRÍA  M_ALEJANDRIA    M
2         EPSA(PACIFICO)         ALBAN    H
3         EPSA(PACIFICO)         ALBAN    H
4         EPSA(PACIFICO)         ALBAN    H
..                   ...           ...  ...
298           VATIA S.A.    MVENTANA_B    M
299          EMGESA S.A.      ZIPAEMG2    T
300          EMGESA S.A.      ZIPAEMG3    T
301          EMGESA S.A.      ZIPAEMG4    T
302          EMGESA S.A.      ZIPAEMG5    T

[303 rows x 3 columns]

In [2]:
## Filtramos los datos segun los requerimientos 
data_fil = df[(df['Agente'] == 'EMGESA S.A.') & ((df['Tipo'] == 'H') | (df['Tipo'] == 'T'))] 
data_fil

          Agente   Central Tipo
32   EMGESA S.A.   BETANIA    H
33   EMGESA S.A.   BETANIA    H
34   EMGESA S.A.   BETANIA    H
49   EMGESA S.A.   CTGEMG1    T
50   EMGESA S.A.   CTGEMG2    T
51   EMGESA S.A.   CTGEMG3    T
90   EMGESA S.A.  ELQUIMBO    H
91   EMGESA S.A.  ELQUIMBO    H
120  EMGESA S.A.    GUAVIO    H
121  EMGESA S.A.    GUAVIO    H
122  EMGESA S.A.    GUAVIO    H
123  EMGESA S.A.    GUAVIO    H
124  EMGESA S.A.    GUAVIO    H
148  EMGESA S.A.     PAGUA    H
149  EMGESA S.A.     PAGUA    H
150  EMGESA S.A.     PAGUA    H
188  EMGESA S.A.     PAGUA    H
189  EMGESA S.A.     PAGUA    H
190  EMGESA S.A.     PAGUA    H
299  EMGESA S.A.  ZIPAEMG2    T
300  EMGESA S.A.  ZIPAEMG3    T
301  EMGESA S.A.  ZIPAEMG4    T
302  EMGESA S.A.  ZIPAEMG5    T

In [3]:
## Ciclo for para crear una lista con el nombre de las columnas 
columns_names =['Central']
for j in range(1,25):
    columns_names.append('Hora_' + str(j))
print(columns_names)

['Central', 'Hora_1', 'Hora_2', 'Hora_3', 'Hora_4', 'Hora_5', 'Hora_6', 'Hora_7', 'Hora_8', 'Hora_9', 'Hora_10', 'Hora_11', 'Hora_12', 'Hora_13', 'Hora_14', 'Hora_15', 'Hora_16', 'Hora_17', 'Hora_18', 'Hora_19', 'Hora_20', 'Hora_21', 'Hora_22', 'Hora_23', 'Hora_24']

In [4]:
## Cargamos el segundo dataset que es de tipo texto y cambiamos el nombre de las columnas
## mediante el ciclo for implementado arriba 
data_central = pd.DataFrame()
data_central = pd.read_csv('./data/dDEC1204.txt',header = None,encoding='ISO-8859-1')
data_central=data_central.set_axis(columns_names, axis='columns')
data_central

,Central,Hora_1,Hora_2,Hora_3,Hora_4,Hora_5,Hora_6,Hora_7,Hora_8,Hora_9,...,Hora_15,Hora_16,Hora_17,Hora_18,Hora_19,Hora_20,Hora_21,Hora_22,Hora_23,Hora_24
0,AG_ARGOSCTG,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AG_ARGOSYUM,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,AG_ELCAIRO,0,0,0,1,3,3,3,3,3,...,3,0,0,0,0,1,3,3,3,3
3,AG_REFICAR,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4,AG_UNIBOL,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,ZIPAEMG2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
213,ZIPAEMG3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214,ZIPAEMG4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
215,ZIPAEMG5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
216,Total,6314,6044,5889,5853,6114,6489,6732,7237,7800,...,8775,8716,8560,8538,9685,9753,9463,8540,7739,7033

In [58]:
## Hacemos merge de los dos dataset 
dmerge=pd.merge(data_fil,data_central)
dmerge

,Agente,Central,Tipo,Hora_1,Hora_2,Hora_3,Hora_4,Hora_5,Hora_6,Hora_7,...,Hora_15,Hora_16,Hora_17,Hora_18,Hora_19,Hora_20,Hora_21,Hora_22,Hora_23,Hora_24
0,EMGESA S.A.,BETANIA,H,364,364,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,364
1,EMGESA S.A.,BETANIA,H,364,364,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,364
2,EMGESA S.A.,BETANIA,H,364,364,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,364
3,EMGESA S.A.,CTGEMG1,T,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,EMGESA S.A.,CTGEMG2,T,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,EMGESA S.A.,CTGEMG3,T,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,EMGESA S.A.,ELQUIMBO,H,85,85,85,85,85,85,85,...,85,85,85,85,85,85,85,85,85,85
7,EMGESA S.A.,ELQUIMBO,H,85,85,85,85,85,85,85,...,85,85,85,85,85,85,85,85,85,85
8,EMGESA S.A.,GUAVIO,H,0,0,0,0,0,0,0,...,180,180,120,120,997,1002,780,140,0,0
9,EMGESA S.A.,GUAVIO,H,0,0,0,0,0,0,0,...,180,180,120,120,997,1002,780,140,0,0
10,EMGESA S.A.,GUAVIO,H,0,0,0,0,0,0,0,...,180,180,120,120,997,1002,780,140,0,0
11,EMGESA S.A.,GUAVIO,H,0,0,0,0,0,0,0,...,180,180,120,120,997,1002,780,140,0,0
12,EMGESA S.A.,GUAVIO,H,0,0,0,0,0,0,0,...,180,180,120,120,997,1002,780,140,0,0
13,EMGESA S.A.,PAGUA,H,600,600,600,600,600,600,600,...,600,600,600,600,600,600,600,600,600,600
14,EMGESA S.A.,PAGUA,H,600,600,600,600,600,600,600,...,600,600,600,600,600,600,600,600,600,600
15,EMGESA S.A.,PAGUA,H,600,600,600,600,600,600,600,...,600,600,600,600,600,600,600,600,600,600
16,EMGESA S.A.,PAGUA,H,600,600,600,600,600,600,600,...,600,600,600,600,600,600,600,600,600,600
17,EMGESA S.A.,PAGUA,H,600,600,600,600,600,600,600,...,600,600,600,600,600,600,600,600,600,600
18,EMGESA S.A.,PAGUA,H,600,600,600,600,600,600,600,...,600,600,600,600,600,600,600,600,600,600
19,EMGESA S.A.,ZIPAEMG2,T,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,EMGESA S.A.,ZIPAEMG3,T,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,EMGESA S.A.,ZIPAEMG4,T,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,EMGESA S.A.,ZIPAEMG5,T,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
## agrupamos los datos por la variable central y sumamos los valores en comun
df_agrupado=dmerge.groupby(['Agente','Central','Tipo']).sum()
df_agrupado

                           Hora_1  Hora_2  Hora_3  Hora_4  Hora_5  Hora_6  \
Agente      Central  Tipo
EMGESA S.A. BETANIA  H       1092    1092    1092    1092    1092    1092
            CTGEMG1  T          0       0       0       0       0       0
            CTGEMG2  T          0       0       0       0       0       0
            CTGEMG3  T          0       0       0       0       0       0
            ELQUIMBO H        170     170     170     170     170     170
            GUAVIO   H          0       0       0       0       0       0
            PAGUA    H       3600    3600    3600    3600    3600    3600
            ZIPAEMG2 T          0       0       0       0       0       0
            ZIPAEMG3 T          0       0       0       0       0       0
            ZIPAEMG4 T          0       0       0       0       0       0
            ZIPAEMG5 T          0       0       0       0       0       0

                           Hora_7  Hora_8  Hora_9  Hora_10  ...  Hora_15  \
Agente      Central  Tipo                                   ...
EMGESA S.A. BETANIA  H       1092    1092    1092     1092  ...     1092
            CTGEMG1  T          0       0       0        0  ...        0
            CTGEMG2  T          0       0       0        0  ...        0
            CTGEMG3  T          0       0       0        0  ...        0
            ELQUIMBO H        170     170     170      170  ...      170
            GUAVIO   H          0       0       0      730  ...      900
            PAGUA    H       3600    3600    3600     3600  ...     3600
            ZIPAEMG2 T          0       0       0        0  ...        0
            ZIPAEMG3 T          0       0       0        0  ...        0
            ZIPAEMG4 T          0       0       0        0  ...        0
            ZIPAEMG5 T          0       0       0        0  ...        0

                           Hora_16  Hora_17  Hora_18  Hora_19  Hora_20  \
Agente      Central  Tipo
EMGESA S.A. BETANIA  H        1092     1092     1092     1092     1092
            CTGEMG1  T           0        0        0        0        0
            CTGEMG2  T           0        0        0        0        0
            CTGEMG3  T           0        0        0        0        0
            ELQUIMBO H         170      170      170      170      170
            GUAVIO   H         900      600      600     4985     5010
            PAGUA    H        3600     3600     3600     3600     3600
            ZIPAEMG2 T           0        0        0        0        0
            ZIPAEMG3 T           0        0        0        0        0
            ZIPAEMG4 T           0        0        0        0        0
            ZIPAEMG5 T           0        0        0        0        0

                           Hora_21  Hora_22  Hora_23  Hora_24
Agente      Central  Tipo
EMGESA S.A. BETANIA  H        1092     1092     1092     1092
            CTGEMG1  T           0        0        0        0
            CTGEMG2  T           0        0        0        0
            CTGEMG3  T           0        0        0        0
            ELQUIMBO H         170      170      170      170
            GUAVIO   H        3900      700        0        0
            PAGUA    H        3600     3600     3600     3600
            ZIPAEMG2 T           0        0        0        0
            ZIPAEMG3 T           0        0        0        0
            ZIPAEMG4 T           0        0        0        0
            ZIPAEMG5 T           0        0        0        0

[11 rows x 24 columns]

In [63]:
## sumamos los valores de manera horizontal y se agrega una columna alfinal con el nombre de total horas
df_agrupado["Total_Horas"] = df_agrupado.sum(axis=1)
df_agrupado

                           Hora_1  Hora_2  Hora_3  Hora_4  Hora_5  Hora_6  \
Agente      Central  Tipo
EMGESA S.A. BETANIA  H       1092    1092    1092    1092    1092    1092
            CTGEMG1  T          0       0       0       0       0       0
            CTGEMG2  T          0       0       0       0       0       0
            CTGEMG3  T          0       0       0       0       0       0
            ELQUIMBO H        170     170     170     170     170     170
            GUAVIO   H          0       0       0       0       0       0
            PAGUA    H       3600    3600    3600    3600    3600    3600
            ZIPAEMG2 T          0       0       0       0       0       0
            ZIPAEMG3 T          0       0       0       0       0       0
            ZIPAEMG4 T          0       0       0       0       0       0
            ZIPAEMG5 T          0       0       0       0       0       0

                           Hora_7  Hora_8  Hora_9  Hora_10  ...  Hora_16  \
Agente      Central  Tipo                                   ...
EMGESA S.A. BETANIA  H       1092    1092    1092     1092  ...     1092
            CTGEMG1  T          0       0       0        0  ...        0
            CTGEMG2  T          0       0       0        0  ...        0
            CTGEMG3  T          0       0       0        0  ...        0
            ELQUIMBO H        170     170     170      170  ...      170
            GUAVIO   H          0       0       0      730  ...      900
            PAGUA    H       3600    3600    3600     3600  ...     3600
            ZIPAEMG2 T          0       0       0        0  ...        0
            ZIPAEMG3 T          0       0       0        0  ...        0
            ZIPAEMG4 T          0       0       0        0  ...        0
            ZIPAEMG5 T          0       0       0        0  ...        0

                           Hora_17  Hora_18  Hora_19  Hora_20  Hora_21  \
Agente      Central  Tipo
EMGESA S.A. BETANIA  H        1092     1092     1092     1092     1092
            CTGEMG1  T           0        0        0        0        0
            CTGEMG2  T           0        0        0        0        0
            CTGEMG3  T           0        0        0        0        0
            ELQUIMBO H         170      170      170      170      170
            GUAVIO   H         600      600     4985     5010     3900
            PAGUA    H        3600     3600     3600     3600     3600
            ZIPAEMG2 T           0        0        0        0        0
            ZIPAEMG3 T           0        0        0        0        0
            ZIPAEMG4 T           0        0        0        0        0
            ZIPAEMG5 T           0        0        0        0        0

                           Hora_22  Hora_23  Hora_24  Total_Horas
Agente      Central  Tipo
EMGESA S.A. BETANIA  H        1092     1092     1092        26208
            CTGEMG1  T           0        0        0            0
            CTGEMG2  T           0        0        0            0
            CTGEMG3  T           0        0        0            0
            ELQUIMBO H         170      170      170         4080
            GUAVIO   H         700        0        0        21625
            PAGUA    H        3600     3600     3600        86400
            ZIPAEMG2 T           0        0        0            0
            ZIPAEMG3 T           0        0        0            0
            ZIPAEMG4 T           0        0        0            0
            ZIPAEMG5 T           0        0        0            0

[11 rows x 25 columns]

In [66]:
## se eliminan aquellos valores iguales a 0 en la columna de total_horas
data_final = df_agrupado[(df_agrupado['Total_Horas'] != 0)]
data_final

                           Hora_1  Hora_2  Hora_3  Hora_4  Hora_5  Hora_6  \
Agente      Central  Tipo
EMGESA S.A. BETANIA  H       1092    1092    1092    1092    1092    1092
            ELQUIMBO H        170     170     170     170     170     170
            GUAVIO   H          0       0       0       0       0       0
            PAGUA    H       3600    3600    3600    3600    3600    3600

                           Hora_7  Hora_8  Hora_9  Hora_10  ...  Hora_16  \
Agente      Central  Tipo                                   ...
EMGESA S.A. BETANIA  H       1092    1092    1092     1092  ...     1092
            ELQUIMBO H        170     170     170      170  ...      170
            GUAVIO   H          0       0       0      730  ...      900
            PAGUA    H       3600    3600    3600     3600  ...     3600

                           Hora_17  Hora_18  Hora_19  Hora_20  Hora_21  \
Agente      Central  Tipo
EMGESA S.A. BETANIA  H        1092     1092     1092     1092     1092
            ELQUIMBO H         170      170      170      170      170
            GUAVIO   H         600      600     4985     5010     3900
            PAGUA    H        3600     3600     3600     3600     3600

                           Hora_22  Hora_23  Hora_24  Total_Horas
Agente      Central  Tipo
EMGESA S.A. BETANIA  H        1092     1092     1092        26208
            ELQUIMBO H         170      170      170         4080
            GUAVIO   H         700        0        0        21625
            PAGUA    H        3600     3600     3600        86400

[4 rows x 25 columns]

In [67]:
## exportamos el dataset a un tabla de excel  
writer = data_final.to_excel('./data/consumos_centrales.xlsx',sheet_name='consumos central')